@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12" >
        <img src="~/images/UVUSquareBlack-0002.png"  />
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Current Order of operations</h2>
        <ul>
            <li>Create new User</li>
            <li>Create new Rental</li>
            <li>Add inventory items to Rental</li>
        </ul>
    </div>
    <div class="col-md-3">
        <p>
            Please contact IT Support for assistance if any problems occur. 
        </p>
     
    </div>
    <div class="col-md-3">
        <p>
            Site is still in development. Not all features may work as intented. Please report any errors or suggestions to the DGM Checkout development team.
        </p>
        
    </div>
    <div class="col-md-3">
      
    </div>
</div>
