@model DGM_Checkout_dev.Models.Type

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeEntry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeEntry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TypeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
