@model DGM_Checkout_dev.Models.Inventory

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Inventory</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="InventorySerialNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InventorySerialNumber" class="form-control" />
                <span asp-validation-for="InventorySerialNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InventoryName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InventoryName" class="form-control" />
                <span asp-validation-for="InventoryName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InventoryMake" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InventoryMake" class="form-control" />
                <span asp-validation-for="InventoryMake" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InventoryModel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InventoryModel" class="form-control" />
                <span asp-validation-for="InventoryModel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InventoryNotes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea rows="4" asp-for="InventoryNotes" class="form-control"></textarea>
                <span asp-validation-for="InventoryNotes" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InventoryCost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InventoryCost" class="form-control" />
                <span asp-validation-for="InventoryCost" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TypeID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TypeID" class ="form-control" asp-items="ViewBag.TypeID">
                    <option value="">-- Select Type --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LocationID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LocationID" class ="form-control" asp-items="ViewBag.LocationID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StatusID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="StatusID" class ="form-control" asp-items="ViewBag.StatusID"></select>
            </div>
        </div>
        @*
        <div class="form-group">
            <label asp-for="RentalID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RentalID" class ="form-control" asp-items="ViewBag.RentalID">
                <option value="">-- No Rental --</option>
                </select>
            </div>
        </div>
        *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
